global
{% if ansible_eth1.active %}
  log  {{ ansible_eth1.ipv4.address }} local0
{% else %}
  log /dev/log local0
{% endif %}

defaults
  log  global
  retries  3
  timeout  connect 3000
  timeout  server 5000
  timeout  client 5000

listen {{ cluster_name }}
{% if ansible_eth1.active == true %}
  bind {{ ansible_eth1.ipv4.address }}:{{ haproxy_frontend_port }}
{% else %}
  bind {{ ansible_all_ipv4_addresses[0] }}:{{ haproxy_frontend_port }}
{% endif %}
  mode  {{ haproxy_frontend_mode }}
  balance  {{ haproxy_backend_balance_method }}
{% if haproxy_backend_options|length > 0 %}
{% for opt in haproxy_backend_options %}
  option {{ opt }}
{% endfor %}
{% endif %}
{% set not_region = 'iad' if region == 'ord' else 'ord' %}
{% for host in [1,2,3] %}
  server {{ cluster_name }}-g-p{{ host }}.{{ region }}.rakr.net {{ cluster_name }}-g-p{{ host }}.{{ region }}.rakr.net check
{% endfor %}
{% for host in [1,2,3] %}
  server {{ cluster_name }}-g-p{{ host }}.{{ not_region }}.rakr.net {{ cluster_name }}-g-p{{ host }}.{{ not_region }}.rakr.net backup check
{% endfor %}

listen {{ cluster_name }}-stats
{% if ansible_eth1.active == true %}
  bind {{ ansible_eth1.ipv4.address }}:{{ haproxy_stats_port }}
{% else %}
  bind {{ ansible_all_ipv4_addresses[0] }}:{{ haproxy_stats_port }}
{% endif %}
  mode  {{ haproxy_stats_mode }}
{% if haproxy_stats_options|length > 0 %}
{% for opt in haproxy_stats_options %}
  stats {{ opt }}
{% endfor %}
{% endif %}
{% if haproxy_stats_authuser and haproxy_stats_authpass %}
  stats auth {{ haproxy_stats_authuser }}:{{ haproxy_stats_authpass }}
{% endif %}
