global
{% if ansible_default_ipv4.address %}
  log  {{ ansible_default_ipv4.address }} local0
{% else %}
  log /dev/log local0
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  log  global
  retries  3
  timeout  connect 3000
  timeout  server 5000
  timeout  client 5000

frontend {{ haproxy_frontend_name }}
{% if haproxy_frontend_ssl_cert %}
    bind :443 ssl crt {{ haproxy_frontend_ssl_cert }}
{% else %}
    bind {{ haproxy_frontend_bind_address }}:{{ haproxy_frontend_port }}
{% endif %}
    mode {{ haproxy_frontend_mode }}
    default_backend {{ haproxy_backend_name }}

backend {{ haproxy_backend_name }}
    mode {{ haproxy_backend_mode }}
    balance {{ haproxy_backend_balance_method }}
    option forwardfor
{% if haproxy_backend_httpchk != '' %}
    option httpchk {{ haproxy_backend_httpchk }}
{% endif %}
    cookie SERVERID insert indirect
{% for backend in haproxy_backend_servers %}
    server {{ backend.name }} {{ backend.address }}:{{ backend.port }} cookie {{ backend.name }} check
{% endfor %}
{% endif %}
